In [ ]:
from lightgbm import L

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/valarian/SJTU/SJTU/毕业论文/Data/code/Rate.csv')
df.head()

,-10.0,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.43745,0.43746,0.43747,0.43748,0.43749,0.43750,0.43751,0.43752,0.43753,0.43754
0,0.0,-10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,-10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,-10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,-10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,-10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1]:
from gurobipy import *

In [ ]:
m = Model()
m.ad